{% extends "authenticated_base.twig" %}

{% block title %}
    Proje {% if id > 0 %}Güncelle{% else %}Ekle{% endif %}
{% endblock %}

{% block content %}
    <div id="notification-save" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="projectNotifications.closeModal();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bildirim</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="old_name" value="" />
                    <div class="form-group">
                        <label>Bildirim Adı</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label>Bağlantı</label>
                        <input type="text" class="form-control" name="url" />
                    </div>
                    <div class="form-group">
                        <label>Kabul Edilen Durumlar</label>
                        <div>
                            <select name="accepted_actions" multiple="multiple" class="form-control" style="width: 100%"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="projectNotifications.save();">Kaydet</button>
                    <button type="button" class="btn btn-secondary" onclick="projectNotifications.closeModal();">İptal</button>
                </div>
            </div>
        </div>
    </div>
    <div id="file-save" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="projectFiles.closeModal();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Dosya</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="old_name" value="" />
                    <div class="form-group">
                        <label>Dosya Adı</label>
                        <input type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label>Dosya İçeriği</label>
                        <div id="editor" style="height: 200px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="projectFiles.save();">Kaydet</button>
                    <button type="button" class="btn btn-secondary" onclick="projectFiles.closeModal();">İptal</button>
                </div>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Panel</a></li>
        <li class="breadcrumb-item"><a href="/projects">Projeler</a></li>
        <li class="breadcrumb-item active">Proje {% if id > 0 %}Güncelle{% else %}Ekle{% endif %}</li>
    </ol>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Proje {% if id > 0 %}Güncelle{% else %}Ekle{% endif %}</h3>
        </div>
        <div class="box-body">
            {% include "messages.twig" %}
            <form method="post">
                <input type="hidden" name="vhost" value="{{ form_data.vhost|raw }}" />
                <div class="form-group {% if has_name_error %}has-error{% endif %}">
                    <label>Proje Adı</label>
                    <input type="text" class="form-control" name="name" value="{{ form_data.name }}" />
                </div>
                <div class="form-group {% if has_public_key_error %}has-error{% endif %}">
                    <label>Açık Anahtar</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="public_key" value="{{ form_data.public_key }}" />
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" onclick="$('input[name=public_key]').val(newPublicKey());">Yenile</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sanal Sunucu Dosyası</label>
                    <div id="vhost-editor" style="height: 200px;">{{ form_data.vhost|raw }}</div>
                    <p class="help-block"><span class="fa fa-info-circle"></span> $PORT$ kalıbı, ilgili hedef port numarasına sahip bir konteyner bulunduğunda sanal sunucu dosyasını güncellemek için kullanılır.</p>
                </div>
                <div class="form-group">
                    <label>Hedef Port</label>
                    <input type="text" class="form-control" name="port" value="{{ form_data.port }}" />
                </div>
                <div class="form-group">
                    <label>Bildirimler (<a href="javascript:;" onclick="projectNotifications.openNewNotificationWindow();">Yeni Bildirim Ekle</a>)</label>
                    <table class="table table-bordered table-hover" id="notification-container">
                        <thead>
                            <tr>
                                <th>Bildirim Adı</th>
                                <th style="width: 120px;">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label>Dosyalar (<a href="javascript:;" onclick="projectFiles.openNewFileWindow();">Yeni Dosya Ekle</a>)</label>
                    <table class="table table-bordered table-hover" id="file-container">
                        <thead>
                        <tr>
                            <th>Dosya Adı</th>
                            <th style="width: 120px;">İşlemler</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Kaydet</button>
                    <p class="help-block"><span class="fa fa-info-circle"></span> Kaydetme işleminin ardından arkaplanda sunucu kurulum işlemi başlatılır.</p>
                </div>
            </form>
        </div>
    </div>
    {% verbatim %}
        <script id="file-list-template" type="text/x-handlebars-template">
            {{#if files}}
                {{#each files}}
                    <tr>
                        <td>
                            <span {{#if notSaved}}style="color: indianred;"{{/if}}>{{ name }}</span>
                            <input type="hidden" name="file_name[]" value="{{ name }}" />
                            <input type="hidden" name="file_content[]" value="{{ content }}" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm" onclick="projectFiles.openEditFileWindow('{{ name }}');"><span class="fa fa-edit"></span></button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="projectFiles.removeFile('{{ name }}');"><span class="fa fa-remove"></span></button>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="2">Herhangi bir dosya eklenmemiş.</td>
                </tr>
            {{/if}}
        </script>

        <script id="notification-list-template" type="text/x-handlebars-template">
            {{#if notifications}}
                {{#each notifications}}
                    <tr>
                        <td>
                            <span {{#if notSaved}}style="color: indianred;"{{/if}}>{{ name }}</span>
                            <input type="hidden" name="notification_name[]" value="{{ name }}" />
                            <input type="hidden" name="notification_data[]" value="{{ jsonEncode data }}" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm" onclick="projectNotifications.openEditNotificationWindow('{{ name }}');"><span class="fa fa-edit"></span></button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="projectNotifications.removeNotification('{{ name }}');"><span class="fa fa-remove"></span></button>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="2">Herhangi bir bildirim eklenmemiş.</td>
                </tr>
            {{/if}}
        </script>
    {% endverbatim %}
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/select2/css/select2.min.css" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/assets/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/assets/underscore.js"></script>
    <script type="text/javascript" src="/assets/ace/ace.js"></script>
    <script type="text/javascript" src="/assets/handlebars.js"></script>
    <script type="text/javascript" src="/assets/app/helpers.js"></script>
    <script type="text/javascript" src="/assets/app/project_files.js"></script>
    <script type="text/javascript" src="/assets/app/project_notifications.js"></script>
    <script type="text/javascript">
        var projectFiles = new ProjectFiles({
            fileEditor: 'editor',
            modal: '#file-save',
            container: '#file-container',
            template: '#file-list-template',
            files: {{ form_data.files|raw }}
        });
        var projectNotifications = new ProjectNotifications({
            modal: '#notification-save',
            container: '#notification-container',
            template: '#notification-list-template',
            notifications: {{ form_data.notifications|raw }}
        });
        var vhostEditor = ace.edit('vhost-editor');
        vhostEditor.getSession().on("change", function () {
            $('input[name=vhost]').val(vhostEditor.getSession().getValue());
        });
    </script>
{% endblock %}