{% extends "authenticated_base.twig" %}

{% block title %}
    Hosting: {{ project.name }}
{% endblock %}

{% block content %}
    <div id="vhost-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModal(this);">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sanal Sunucu Dosyası</h4>
                </div>
                <div class="modal-body">
                    <div class="loading">Yükleniyor...</div>
                    <div id="vhost" style="height: 400px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveFile(this);">Kaydet</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal(this);">İptal</button>
                </div>
            </div>
        </div>
    </div>
    <div id="container-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModal(this);">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bilgiler</h4>
                </div>
                <div class="modal-body">
                    <div class="loading">Yükleniyor...</div>
                    <div class="scroll">
                        <div class="detail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="log-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModal(this);">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Loglar</h4>
                </div>
                <div class="modal-body">
                    <div class="loading">Yükleniyor...</div>
                    <div class="scroll">
                        <div class="detail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Panel</a></li>
        <li class="breadcrumb-item"><a href="/projects">Projeler</a></li>
        <li class="breadcrumb-item active">Hosting: {{ project.name }}</li>
    </ol>
    <div class="card">
        <div class="card-header">
            Hosting: {{ project.name }}
            <div class="pull-md-right">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-success" onclick="start(this);"><span class="fa fa-play"></span> Başlat</button>
                    <button class="btn btn-danger" onclick="stop(this);"><span class="fa fa-stop"></span> Durdur</button>
                    <button class="btn btn-info" onclick="openVhostModal();"><span class="fa fa-edit"></span> Sanal Sunucu Dosyası</button>
                    <button class="btn" onclick="logs();"><span class="fa fa-history"></span> Loglar</button>
                </div>
            </div>
        </div>
        <table id="containers" class="table">
            <tbody></tbody>
        </table>
    </div>
    {% verbatim %}
        <script id="container-list-template" type="text/x-handlebars-template">
            {{#if containers}}
                {{#each containers}}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-8">
                                    <span class="fa fa-server"></span> {{name}}
                                </div>
                                <div class="col-md-4">
                                    <div class="pull-md-right">
                                        <span class="tag {{#if is_running }}tag-success{{else}}tag-danger{{/if}}">{{status}}</span>
                                        <button type="button" class="btn btn-sm" onclick="inspect('{{id}}');"><span class="fa fa-info-circle"></span> Detay</button>
                                        <button type="button" class="btn btn-sm" onclick="logs('{{name}}');"><span class="fa fa-history"></span> Loglar</button>
                                    </div>
                                </div>
                            </div>
                            <div style="padding: 4px 8px; font-size: 13px;">
                                {{#each ports}}
                                    {{port}} -> {{hostIp}}:{{hostPort}}
                                {{/each}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="2"><div class="alert alert-info">Herhangi bir konteyner bulunmamakta. Lütfen Başlat butonuna tıklayınız.</div></td>
                </tr>
            {{/if}}
        </script>
    {% endverbatim %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/jquery.jsonview.min.css" />
    <style type="text/css">
        .scroll {
            width: 100%;
            height: 400px;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/assets/jquery.jsonview.min.js"></script>
    <script type="text/javascript" src="/assets/underscore.js"></script>
    <script type="text/javascript" src="/assets/ace/ace.js"></script>
    <script type="text/javascript" src="/assets/handlebars.js"></script>
    <script type="text/javascript">
        var projectId = {{ project.id }};
        var vhostEditor = ace.edit('vhost');
        vhostEditor.setTheme('ace/theme/monokai');
        vhostEditor.getSession().setMode("ace/mode/lua");
        var containerListTemplate = Handlebars.compile($('#container-list-template').html());

        function render() {
            $('#containers tbody').html('<tr><td>Yükleniyor...</td></tr>');
            $.get('/projects/containers?id=' + projectId)
                    .done(function (containers) {
                        containers = _.map(containers, function (item) {
                            var ports = [];
                            _.each(item.NetworkSettings.Ports, function (value, key) {
                                _.each(value, function (hostPort) {
                                    ports.push({
                                        port: key,
                                        hostIp: hostPort.HostIp,
                                        hostPort: hostPort.HostPort
                                    });
                                });
                            });
                            return {
                                id: item.Id,
                                name: item.Config.Labels['com.docker.compose.service'],
                                is_running: item.State.Running,
                                status: item.State.Status,
                                ports: ports
                            }
                        });
                        containers = _.sortBy(containers, 'name');
                        $('#containers tbody').html(containerListTemplate({
                            containers: containers
                        }));
                    })
                    .fail(function () {
                        alert('An error occurred!');
                    });
        }

        function start(object) {
            var oldHtml = $(object).html();
            $(object).attr('disabled', 'disabled');
            $(object).html('Starting...');
            $.post('/projects/server/start?id=' + projectId)
                    .done(function () {
                    })
                    .fail(function () {
                    })
                    .always(function () {
                        $(object).removeAttr('disabled');
                        $(object).html(oldHtml);
                        render();
                    });
        }

        function stop(object) {
            var oldHtml = $(object).html();
            $(object).attr('disabled', 'disabled');
            $(object).html('Stopping...');
            $.post('/projects/server/stop?id=' + projectId)
                    .always(function () {
                        $(object).removeAttr('disabled');
                        $(object).html(oldHtml);
                        render();
                    });
        }

        function inspect(containerId) {
            $('#container-info').modal('show');
            $('#container-info .detail').hide();
            $('#container-info .loading').show();
            $.get('/projects/server/inspect?container_id=' + containerId)
                    .done(function (data) {
                        $('#container-info .loading').hide();
                        $('#container-info .detail').show().JSONView(JSON.stringify(data, null, 2));
                    })
                    .fail(function () {
                        alert('An error occurred!');
                    });
        }

        function logs(serviceName) {
            if (serviceName == undefined) {
                serviceName = '';
            }
            $('#log-info').modal('show');
            $('#log-info .detail').hide();
            $('#log-info .loading').show();
            $.get('/projects/server/logs?id=' + projectId + '&service_name=' + serviceName)
                    .done(function (data) {
                        $('#log-info .loading').hide();
                        $('#log-info .detail').show().html(data.replace(/\n/g, "<br />"));
                    })
                    .fail(function (e) {
                        alert('An error occurred!');
                    });
        }

        function openVhostModal() {
            $('#vhost-info').modal('show');
            $('#vhost-info .loading').show();
            $('#vhost').hide();
            $.get('/projects/vhost', {id: projectId})
                    .always(function (data) {
                        $('#vhost-info .loading').hide();
                        $('#vhost').show();
                        if (data.status == 200) {
                            setTimeout(function () {
                                vhostEditor.getSession().setValue(data.responseText);
                            }, 300);
                        } else if (data.status == 404) {
                            setTimeout(function () {
                                vhostEditor.getSession().setValue('');
                            }, 300);
                        }
                    });
        }

        function saveFile(object) {
            var oldHtml = $(object).html();
            $(object).attr('disabled', 'disabled');
            $(object).html('Saving...');
            $.post('/projects/vhost?id=' + projectId, {content: vhostEditor.getSession().getValue()})
                    .always(function (data) {
                        if (data.status == 200) {
                            alert('Kaydedildi.');
                        } else {
                            alert('Kaydedilemedi.');
                        }
                        $(object).removeAttr('disabled');
                        $(object).html(oldHtml);
                    });
        }

        function closeModal(e) {
            $(e).parents('.modal').modal('hide');
        }
        render();
    </script>
{% endblock %}