{% extends 'base.twig' %}

{% block body %}
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo"><span class="fa fa-cloud"></span></a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/assets/images/profile.png" class="user-image">
                                <span class="hidden-xs">{{ user.name }} {{ user.surname }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="/assets/images/profile.png" class="img-circle">
                                    <p>{{ user.name }} {{ user.surname }}</p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/users/save?id={{ user.id }}" class="btn btn-default btn-flat">Bilgilerim</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Oturumu Kapat</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-server"></i> <span>Projeler</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/projects">Listele</a></li>
                            {% if user.isAllowed('project.save') %}
                                <li><a href="/projects/save">Oluştur</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if user.isAllowed('users.list') or user.isAllowed('users.save') or user.isAllowed('users.activities') %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i> <span>Kullanıcılar</span>
                            </a>
                            <ul class="treeview-menu">
                                {% if user.isAllowed('users.list') %}
                                    <li><a href="/users">Listele</a></li>
                                {% endif %}
                                {% if user.isAllowed('users.save') %}
                                    <li><a href="/users/save">Yeni Ekle</a></li>
                                {% endif %}
                                {% if user.isAllowed('users.activities') %}
                                    <li><a href="/users/activities">Aktiviteler</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>
        <footer class="main-footer"></footer>
    </div>
{% endblock %}

{% block css %}
    <style type="text/css">
        .breadcrumb-item a{
            color: #000;
        }
    </style>
{% endblock %}