{% extends "authenticated_base.twig" %}

{% block title %}
    {% if user.id == id %}
        Bilgilerim
    {% else %}
        Kullanıcı {% if id > 0 %}Güncelle{% else %}Ekle{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Panel</a></li>
        {% if user.id == id %}
            <li class="breadcrumb-item active">Bilgilerim</li>
        {% else %}
            <li class="breadcrumb-item"><a href="/users">Kullanıcılar</a></li>
            <li class="breadcrumb-item active">Kullanıcı {% if id > 0 %}Güncelle{% else %}Ekle{% endif %}</li>
        {% endif %}
    </ol>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                {% if user.id == id %}
                    Bilgilerim
                {% else %}
                    Kullanıcı {% if id > 0 %}Güncelle{% else %}Ekle{% endif %}
                {% endif %}
            </h3>
        </div>
        <div class="box-body">
            {% include "messages.twig" %}
            <form method="post">
                <div class="form-group {% if has_email_error %}has-error{% endif %}">
                    <label>E-Posta Adresi</label>
                    <input type="text" class="form-control" name="email" value="{{ form_data.email }}" />
                </div>
                <div class="form-group {% if has_name_error %}has-error{% endif %}">
                    <label>Ad</label>
                    <input type="text" class="form-control" name="name" value="{{ form_data.name }}" />
                </div>
                <div class="form-group {% if has_surname_error %}has-error{% endif %}">
                    <label>Soyad</label>
                    <input type="text" class="form-control" name="surname" value="{{ form_data.surname }}" />
                </div>
                {% if user.isAllowed('users.save') %}
                    <div class="form-group {% if has_permission_error %}has-error{% endif %}">
                        <label>İzinler</label>
                        <select class="form-control" id="permissions" name="permissions[]" multiple="multiple">
                            {% for permission in permissions %}
                                <option value="{{ permission.id }}" {% if permission.id in form_data.selected_permission_ids %}selected="selected"{% endif %}>{{ permission.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group {% if has_project_error %}has-error{% endif %}">
                        <label>Projeler</label>
                        <select class="form-control" id="projects" name="projects[]" multiple="multiple">
                            {% for project in projects %}
                                <option value="{{ project.id }}" {% if project.id in form_data.selected_project_ids %}selected="selected"{% endif %}>{{ project.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="form-group {% if has_password_error %}has-error{% endif %}">
                    <label>Şifre</label>
                    <input type="password" class="form-control" name="password" />
                </div>
                <div class="form-group {% if has_password_error %}has-error{% endif %}">
                    <label>Şifre Tekrarı</label>
                    <input type="password" class="form-control" name="password_repeat" />
                </div>
                {% if user.isAllowed('users.save') %}
                    <div class="form-group {% if has_status_error %}has-error{% endif %}">
                        <label>
                            <input type="checkbox" name="status" class="minimal" {% if form_data.status %}checked="checked"{% endif %} /> Aktif
                        </label>
                    </div>
                {% endif %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/select2/css/select2.min.css" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/assets/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#permissions').select2({
                theme: 'classic'
            });
            $('#projects').select2({
                theme: 'classic'
            });
        });
    </script>
{% endblock %}